
/**
 * Color variables
 */

@brightBlue: #2c8fad;
@darkBlue: #0d3a4f;
@lightBlue: #abd8e9;

@mutedBrightBlue: #4fa1ba;
@mutedBlue: #255266;

@brightGreen: #c3dc16;
@lightGreen:  #d8e57d;
@darkGreen: #3e683c;
@brightRed: #dd4465;

@white: #fff;
@gray: #f0f0f0;
@redGray: #e8e7e6;
@darkGray: #aaa;
@lightGray: #f7f7f7;
@offLightGray: #f1f1f1;
@midGray: #ccc;
@evilGray: #666;
@black: #000;

@rgb247: #f7f7f7;


/**
 * Color classes / mixins
 */

.bright-blue {
	color: @brightBlue;
}
.muted-bright-blue {
	color: @mutedBrightBlue;
}
.dark-blue {
	color: @darkBlue;
}
.light-blue {
	color: @lightBlue;
}
.muted-blue {
	color: @mutedBlue;
}
.bright-green {
	color: @brightGreen;
}
.bright-red {
	color: @brightRed;
}

.white {
	color: @white;
}
.gray {
	color: @gray;
}
.red-gray {
	color: @redGray;
}
.red-gray-bg {
	background-color: @redGray;
}
.dark-gray {
	color: @darkGray;
}
.black {
	color: @black;
}



