
///
// Header
///

.header {
	background-color: @brightBlue;
	color: #fff;
	margin: 0;
	border: 0;
	padding: 0;
	height: @headerHeight;


	.left-header {
		float: left;
	}	

	.mid-header {
		float: left;
	}	

	.right-header {
		float: left;
	}

	.inner-header {
		padding-top: 26px;
	}

	.navBardemoBasicUsage md-content{
		  background-color: @brightBlue; 
	  }

	.logo {
		width: 100px;
	}

}


