<div class="rightNavigationPanel">
	<div class="navIcon glyphicon" 
		 ng-class="{ 'glyphicon-chevron-left': navStatusExpanded , 'glyphicon-chevron-right': !navStatusExpanded }" 
		 ng-click="expandCollapseNav()"
		 >
	</div>
</div>
<div class="leftNavigationPanel">

	<div>
			<h3>Left Navigation</h3>
	</div>
	
	<div>
		<ul class="main-sections">
	      <li class="nav-item">Nav Item 1</li>
	      <li class="nav-item">Nav Item 2</li>
	      <li class="nav-item">Nav Item 3</li>
		</ul>
	</div>
	
	<hr>
	<button type="button" class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">Toggle collapse Vertically</button>
	<hr>
	<div uib-collapse="isCollapsed">
		<div class="well well-lg">Some collapsable navigation content</div>
	</div>



